/* install open Props  */


@import "https://unpkg.com/open-props";


/* Diagnostic Styling */
* {
  outline: 2px dotted gray;
} 


/* temp background color */
body {
  background:

  var(--gradient-12 );
  }
  

section :hover{
  /* background: red; */
  animation: var(--animation-fade-in) 1s;
}